.row
  .col-12
    h1 利用規約
    p これはデモです。

.row
  .col-12
    .card.m-2.p-1
      p
        本利用規約(以下「本規約」と言います。)には、本サービスの提供条件及び当社と登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。

        第1条(適用)
        1. 本規約は、本サービスの提供条件及び本サービスの利用に関する当社と
        登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されます。
        2. 当社が当社ウェブサイト上で掲載する本サービス利用に関するルール (https://www.smar-003.xyz)は、本規約の一部を構成するものとします。
        3. 本規約の内容と、前項のルールその他の本規約外における本サービスの説明等と異なる場合は、本規約の規定が優先して適用されるものとします。

        第2条(定義) 本規約において使用する以下の用語は、各々以下に定める意味を有するもの
        とします。 
        (1)「サービス利用契約」とは、本規約及び当社と登録ユーザーの間で締結する、本サービスの利用契約を意味します。 
        (2)「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権そ
        の他の知的財産権(それらの権利を取得し、又はそれらの権利につき
        登録等を出願する権利を含みます。) を意味します。 
        (3)「投稿データ」とは、登録ユーザーが本サービスを利用して投稿その他
        送信するコンテンツ(文章、画像、動画その他のデータを含みますが これらに限りません。)を意味します。
        (4)『当社」とは、 "Sma-R Inc."を意味します。
        (5)「当社ウェブサイト」とは、そのドメインが「【ウェブサービスを提供するドメイン名】」である、当社が運営するウェブサイト (理由の如何を問わず、当社のウェブサイトのドメイン又は内容が変更された場合 は、当該変更後のウェブサイトを含みます。) を意味します。
        (6)「登録ユーザー」とは、第3条(登録)に基づいて本サービスの利用 者としての登録がなされた個人又は法人を意味します。
        (7) 「本サービス」とは、当社が提供する【ウェブサービス名】 という名称
        のサービス(理由の如何を問わずサービスの名称又は内容が変更され
        た場合は、当該変更後のサービスを含みます。) を意味します。 
        第3条(登録)
        1. 本サービスの利用を希望する者(以下「登録希望者」といいます。)は、
        本規約を遵守することに同意し、かつ当社の定める一定の情報(以下 「登録事項」といいます。) を当社の定める方法で当社に提供することに より、当社に対し、本サービスの利用の登録を申請することができます。
        2. 当社は、当社の基準に従って、第1項に基づいて登録申請を行った登録 希望者(以下「登録申請者」といいます。)の登録の可否を判断し、当 社が登録を認める場合にはその旨を登録申請者に通知します。登録申請 者の登録ユーザーとしての登録は、当社が本項の通知を行ったことをも って完了したものとします。
        3. 前項に定める登録の完了時に、サービス利用契約が登録ユーザーと当社 の間に成立し、登録ユーザーは本サービスを本規約に従い利用すること

        ができるようになります。
        4. 当社は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、
        登録及び再登録を拒否することがあり、またその理由について一切開示
        義務を負いません。 (1)当社に提供した登録事項の全部又は一部につき虚偽、誤記又は記載漏
        れがあった場合 (2)未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法
        定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合 (3)反社会的勢力等(暴力団、暴力団員、右翼団体、反社会的勢力、その 他これに準ずる者を意味します。以下同じ。)である、又は資金提供そ
        の他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しく は関与する等反社会的勢力等との何らかの交流若しくは関与を行って いると当社が判断した場合
        (4)登録希望者が過去当社との契約に違反した者またはその関係者である と当社が判断した場合
        (5)第10条に定める措置を受けたことがある場合 (6)その他、当社が登録を適当でないと判断した場合
        第4条(登録事項の変更) 登録ユーザーは、登録事項に変更があった場合、当社の定める方法により当 該変更事項を遅滞なく当社に通知するものとします。

        第5条(パスワード及びユーザーIDの管理)
        1. 登録ユーザーは、 自己の責任において、本サービスに関するパスワード
        及びユーザーIDを適切に管理及び保管するものとし、これを第三者に 利用させ、または貸与、譲渡、名義変更、売買等をしてはならないもの
        とします。
        2. パスワード又はユーザー旧の管理不十分、使用上の過誤、第三者の使
        用等によって生じた損害に関する責任は登録ユーザーが負うものとし、 当社は一切の責任を負いません。

        第6条(料金及び支払方法)
        1. 登録ユーザーは、本サービス利用の対価として、別途当社が定め、当社
        ウェブサイトに表示する利用料金を、当社が指定する支払方法により当 社に支払うものとします。
        2. 登録ユーザーが利用料金の支払を遅滞した場合、登録ユーザーは年 14.6%の割合による遅延損害金を当社に支払うものとします。
        第7条(禁止事項) 登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当 する行為又は該当すると当社が判断する行為をしてはなりません。
        (1)法令に違反する行為又は犯罪行為に関連する行為 (2)当社、本サービスの他の利用者又はその他の第三者に対する詐欺又は
        脅迫行為
        (3)公序良俗に反する行為 (4)当社、本サービスの他の利用者又はその他の第三者の知的財産権、肖
        像権、プライバシーの権利、名誉、その他の権利又は利益を侵害する
        行為 (5)本サービスを通じ、以下に該当し、または該当すると当社が判断する
        情報を当社又は本サービスの他の利用者に送信すること ・過度に暴力的又は残虐な表現を含む情報 。コンピューター・ウィルスその他の有害なコンピューター・プログ
        ラムを含む情報 ・当社、本サービスの他の利用者又はその他の第三者の名誉または信
        用を穀損する表現を含む情報

        154
        ・過度にわいせつな表現を含む情報 ・差別を助長する表現を含む情報
        ・自殺、 自傷行為を助長する表現を含む情報 ・薬物の不適切な利用を助長する表現を含む情報 ・反社会的な表現を含む情報 ・チェーンメール等の第三者への情報の拡散を求める情報 ・他人に不快感を与える表現を含む情報 ・面識のない異性との出会いを目的とした情報
        (6)本サービスのネットワークまたはシステム等に過度な負荷をかける行 為
        (7)本サービスの運営を妨害するおそれのある行為 (8)当社のネットワークまたはシステム等に不正にアクセスし、または不
        正なアクセスを試みる行為
        (9)第三者に成りすます行為 10本サービスの他の利用者のIDまたはパスワードを利用する行為 61)当社が事前に許諾しない本サービス上での宣伝、広告、勧誘、または
        営業行為
        12本サービスの他の利用者の情報の収集 (株)当社、本サービスの他の利用者又はその他の第三者に不利益、損害、
        不快感を与える行為 (代)当社ウェブサイト上で掲載する本サービス利用に関するルール
        (httP://.......)に抵触する行為 (有)反社会的勢力等への利益供与 (代)面識のない異性との出会いを目的とした行為 (代)前各号の行為を直接又は間接に惹起し、または容易にする行為 (株)その他、当社が不適切と判断する行為
        第8条(本サービスの停止等)
        1. 当社は、以下のいずれかに該当する場合には、登録ユーザーに事前に通
        知することなく、本サービスの全部又は一部の提供を停止又は中断する ことができるものとします。
        (1)本サービスに係るコンピューター・システムの点検又は保守作業を緊 急に行う場合
        (2)コンピューター、通信回線等が事故により停止した場合 (3)地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本 156

        156
        ，‘::... こ ゞ・~:↓パ，iノ J〃JiJ■jJ■j ■(4)その他当社が停止又は中断を必要と判断じた場合 j :j■
        2°C』当社は&本条に基づき当社が行った措置に基づき登録ユーザーに生じた 灘 、“〆万ヨメ:ノメ〃と:」1- ;")...Jゞ: 薦”...ゞメユ !: h
        "J#損害についで与切の責任を負いませんd} 

        第9条(権利帰属)
        1. 当社ウェブサイト及び本サービスに関する知的財産権は全て当社又は当
        社にライセンスを許諾している者に帰属しており、本規約に基づく本サ 一ビスの利用許諾は、当社ウェブサイト又は本サービスに関する当社又 は当社にライセンスを許諾している者の知的財産権の使用許諾を意味す るものではありません。
        2. 登録ユーザーは、投稿データについて、 自らが投稿その他送信すること についての適法な権利を有していること、および投稿データが第三者の 権利を侵害していないことについて、当社に対し表明し、保証するもの
        とします。
        3. 登録ユーザーは、投稿データについて、当社に対し、世界的、非独占的、
        無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、派生著作 物の作成、表示及び実行に関するライセンスを付与します。また、他の 登録ユーザーに対しても、本サービスを利用してユーザーが投稿その他 送信した投稿データの使用、複製、配布、派生著作物を作成、表示及び 実行することについての非独占的なライセンスを付与します。
        、↑
        4. 登録ユーザーは、当社及び当社から権利を承継しまたは許諾された者に
        対して著作者人格権を行使しないことに同意するものとします。 。......、トシや、...、"報《:・淫・......，.........:...、、......:・爵分留奴押...緯...淡......・...琴漣......e...・.........鍔へ...:錘...・紫......“...>:敬一露...“...弾・...鴬......"...湾...'.........-窪...曇...零"舞琴:......,......舞・.........葬公;4...妙....く......"鶏...‘蝉...・...鴬......$...・
        第10条(登録抹消等)
        ‘
        1.当社はく登録ユーザーが、以下の各号のいずれかの事由に該当する場合■J ↓↓ . 、:
        &は、事前に通知又は催告することなく、投稿データを削除しもしくは当 "該登録ユーザ急にづいて本サービスの利用を=時的に停止し、又は登録 ユーザーとしての登録を抹消、もしくはサービス利用契約を解除するこ
        とができます。 (1)本規約のいずれかの条項に違反した場合

        (2)登録事項に虚偽の事実があることが判明した場合 (3)支払停止もしくは支払不能となり、又は破産手続開始、民事再生手続
        開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続
        の開始の申立てがあった場合 (4)【6】ケ月以上本サービスの利用がない場合 (5)当社からの問いあわせその他の回答を求める連絡に対して【30日】間
        以上応答がない場合
        (6)第3条第4項各号に該当する場合 (7)その他当社が本サービスの利用、登録ユーザーとしての登録、又は
        サービス利用契約の継続を適当でないと判断した場合
        2. 前項各号のいずれかの事由に該当した場合、登録ユーザーは、当社に対 して負っている債務の一切について当然に期限の利益を失い、直ちに当
        社に対して全ての債務の支払を行わなければなりません。
        3. 当社は、本条に基づき当社が行った行為により登録ユーザーに生じた損
        害について一切の責任を負いません。

        第11条(退会)
        1. 登録ユーザーは、当社所定の方法で当社に通知することにより、本サー
        ビスから退会し、 自己の登録ユーザーとしての登録を抹消することがで
        きます。
        2. 退会にあたり、当社に対して負っている債務が有る場合は、登録ユーザ
        ーは、当社に対して負っている債務の一切について当然に期限の利益を
        失い、直ちに当社に対して全ての債務の支払を行わなければなりません。 3. 退会後の利用者情報の取扱いについては、第15条の規定に従うものと
        します。
        第12条(本サービスの内容の変更、終了)
        1. 当社は、当社の都合により、本サービスの内容を変更し、または提供を
        終了することができます。当社が本サービスの提供を終了する場合、当
        社は登録ユーザーに事前に通知するものとします。
        2. 当社は、本条に基づき当社が行った措置に基づき登録ユーザーに生じた
        損害について一切の責任を負いません。

        第13条(保証の否認及び免責)
        1. 当社は、本サービスが登録ユーザーの特定の目的に適合すること、期待
        する機能・商品的価値・正確性・有用性を有すること、登録ユーザーに よる本サービスの利用が登録ユーザーに適用のある法令又は業界団体の 内部規則等に適合すること、および不具合が生じないことについて、何 ら保証するものではありません。
        2. 当社は、当社による本サービスの提供の中断、停止、終了、利用不能又 は変更、登録ユーザーが本サービスに送信したメッセージ又は情報の削 除又は消失、登録ユーザーの登録の抹消、本サービスの利用による登録 データの消失又は機器の故障もしくは損傷、その他本サービスに関して
        登録ユーザーが被った損害(以下「ユーザー損害」といいます。)につ き、賠償する責任を一切負わないものとします。
        3. 何らかの理由により当社が責任を負う場合であっても、当社は、ユーザ ー損害につき、過去【12ケ月】間に登録ユーザーが当社に支払った対 価の金額を超えて賠償する責任を負わないものとし、また、付随的損害、 間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、 賠償する責任を負わないものとします。
        4. 本サービス又は当社ウェブサイトに関連して登録ユーザーと他の登録ユ ーザー又は第三者との間において生じた取引、連絡、紛争等については、 当社は一切責任を負いません。

        第14条(秘密保持) 登録ユーザーは、本サービスに関連して当社が登録ユーザーに対して秘密に 取り扱うことを求めて開示した非公知の情報について、当社の事前の書面に よる承諾がある場合を除き、秘密に取り扱うものとします。
        第15条(利用者情報の取扱い)
        1. 当社による登録ユーザーの利用者情報の取扱いについては、別途当社プ
        ライバシーポリシー(http://www...)の定めによるものとし、登録ユ ーザーはこのプライバシーポリシーに従って当社がユーザーの利用者情 報を取扱うことについて同意するものとします。
        2. 当社は、登録ユーザーが当社に提供した情報、データ等を、個人を特定 できない形での統計的な情報として、当社の裁量で、利用及び公開する ことができるものとし、ユーザーはこれに異議を唱えないものとします。
        第16条(本規約等の変更) 当社は、本規約を変更できるものとします。当社は、本規約を変更した場合 には、登録ユーザーに当該変更内容を通知するものとし、当該変更内容の通 知後、登録ユーザーが本サービスを利用した場合又は当社の定める期間内に 登録抹消の手続をとらなかった場合には、登録ユーザーは、本規約の変更に 同意したものとみなします。
        第17条(連絡/通知) 本サービスに関する問い合わせその他登録ユーザーから当社に対する連絡又 は通知、及び本規約の変更に関する通知その他当社から登録ユーザーに対す る連絡又は通知は、当社の定める方法で行うものとします。

        第18条(利用契約上の地位の譲渡等)
        1. 登録ユーザーは、当社の書面による事前の承諾なく、利用契約上の地位
        又は本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移
        転、担保設定、その他の処分をすることはできません。
        2. 当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲 渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユ ーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡する ことができるものとし、登録ユーザーは、かかる譲渡につき本項におい て予め同意したものとします。なお、本項に定める事業譲渡には、通常 の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を
        含むものとします。
        第19条(分離可能性) 本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等によ
        り無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に 効力を有するものとします。
        第20条(準拠法及び管轄裁判所)
        1. 本規約及びサービス利用契約の準拠法は日本法とします。なお、本サー
        ビスにおいて物品の売買が発生する場合であっても、国際物品売買契約
        に関する国際連合条約の適用を排除することに合意します。
        2. 本規約またはサービス利用契約に起因し、または関連する一切の紛争に
        ついては、東京地方裁判所を第一審の専属的合意管轄裁判所とします。 Prヨー:f .画.。，少.。』.#2.q吟。マ，ケマ.・・・・0,剣.-‘識I.:F『必Lo4さ・』沿戟“●$f>:』?17::、巴・謎:釦か:謎ゆ2鉱,鶉くむXなき器泣,令迂マー・§錠・兜喧べ?。』今掛ぐぺ,、ザハ粋『。、?・・-.陽『・画。‘・↑,0,..-..・‘・・-バュ,‘と。‘-神‘今歩,・‘
        【●年●月●日制定】 【●年●月●日改定】