.card.px-3.my-3
  = form_with(model: @review, local: true) do |f|
    = render 'shared/error_messages', object: f.object

    .field.py-3
      = f.collection_select(:brand_id, @brands, :id, :name, {prompt: "--- Brand ---"}, {class: "js-select_field form-control"})

    .field.pb-3
      = f.collection_select(:product_id, @products, :id, :name, {prompt: "--- Product ---"}, {class: "js-receive_field form-control", disabled: true})

    .field.pb-3
      = f.select(:rate, [["★☆☆☆☆", 1], ["★★☆☆☆", 2], ["★★★☆☆", 3], ["★★★★☆", 4], ["★★★★★", 5]], prompt: "--- Rate ---", class: "form-control")

    .field.pb-3
      = f.text_area :content, placeholder: "Write down some comment.", class: "form-control"

    .field.pb-3
      = f.file_field :image, class: "col-12 col-md-12 form-control mb-2", accept: "image/jpeg,image/gif,image/png"

    .d-grid
      = f.submit "Post", class: "btn btn-primary mb-3"

  javascript:
    $("#review_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#review_image").val("");
      }
    });
    $(function () {
      var selectField = $('.js-select_field').on('change', function (){
      var brand_id = selectField.val();
      $.ajax({
        type: 'GET',
        url: '/reviews/picks',
        data: { brand_id: brand_id },
        dataType: 'json'
      })
      .done(function (data) {
        $('#review_product_id').children().remove();
        $(data.product).each(function(i) {
        $('.js-receive_field').removeAttr('disabled');
        $('.js-receive_field').append(
          $("<option>").val(`${data.product[i].id}`).text(`${data.product[i].name}`));
          });
          });
        });
      });