script async="" src="https://www.googletagmanager.com/gtag/js?id=G-1DKE10TM22"

javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1DKE10TM22');
